html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.bodyContainer {
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exchangerForm {
    background-color: rgb(237, 250, 250);
    margin: 5% 10%;
    padding: 5% 5%;
    border-radius: 20px;
    box-shadow: 0 0 20px 2px rgb(117 117 117);
    flex-basis: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exchangerForm__fieldset {
    padding: 50px;
    border-radius: 20px;
    flex-basis: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exchangerForm__legend {
    padding: 0 5%;
    text-align: center;
}

.exchangerForm__paragraph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.exchangerForm__selectCurrency {
    border: 2px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 70px;
    padding: 20px;
    outline: none;
    text-align: center;
    background: linear-gradient(0deg, rgba(34, 153, 195, 1) 0%, rgba(0, 249, 158, 1) 100%);
}

.exchangerForm__amountCurrency {
    border: 2px solid black;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    height: 70px;
    outline: none;
    padding: 20px;
    text-align: center;
    margin-left: -2px;
    min-width: 100px;
    width: 40%;
    background: linear-gradient(0deg, rgba(34, 153, 195, 1) 0%, rgba(0, 249, 158, 1) 100%);
}

.exchangerForm__exchangeRate {
    border: 2px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
    height: 70px;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    min-width: 109px;
    margin-right: -2px;
    background: linear-gradient(0deg, rgba(34, 153, 195, 1) 0%, rgba(0, 249, 158, 1) 100%);
}

.exchangerForm__amountExchangerate {
    border: 2px solid black;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px 5px;
    height: 70px;
    vertical-align: middle;
    min-width: 100px;
    width: 40%;
    text-align: center;
    background: linear-gradient(0deg, rgba(34, 153, 195, 1) 0%, rgba(0, 249, 158, 1) 100%);
}

.exchangerForm__summaryExchange {
    border: 2px solid black;
    border-radius: 20px;
    min-height: 70px;
    max-width: 600px;
    background: linear-gradient(0deg, rgba(34, 153, 195, 1) 0%, rgba(0, 249, 158, 1) 100%);
    vertical-align: middle;
    padding: 20px;
    display: none;
    text-align: center;
    line-height: 1.5;
}

.exchangerForm__disabledField:disabled {
    color: black;
}